:root{
  --replit-upgrade-btn-color-dark: #bb3e02;
  --replit-upgrade-btn-color-spooky: #bb3e02;
  --replit-upgrade-btn-color-light: #faae8a;
  --replit-start-building-btn-color-light: #d7cfff;
  --replit-start-building-btn-color-dark:#39298a;
  --replit-start-building-btn-color-spooky:#422f9e;
  --replit-improve-btn-color-light:#f0f1f2;
  --replit-improve-btn-color-dark:#2b3245;
  --replit-improve-btn-color-spooky:#383b42;
  --replit-recent-repl-btn-hover-color-dark:#1c2333;
  --replit-recent-repl-btn-hover-color-light:#fcfcfc;
  --replit-recent-repl-btn-hover-color-spooky:#292929;
  --replit-textarea-border-color-light:#ebeced;
  --replit-textarea-border-color-dark:#1c2333;
  --replit-textarea-border-color-spooky:#292929;
  --replit-textarea-outline-color-light:#8972ff;
  --replit-textarea-outline-color-dark:#423b87;
  --replit-textarea-outline-color-spooky:#7559ff;
  --replit-create-repl-btn-light-color:#f9f5fc;
  --replit-create-repl-btn-dark-color:#0e1525;
  --replit-create-repl-btn-spooky-color:#020203;
  --replit-icon-color-light:#0e1525;
  --replit-icon-color-dark:#f9f5fc;
  --replit-icon-color-spooky:#f9f5fc;
}

body.dark-theme{
    --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-dark);
    --replit-recent-repl-btn-hover-color: var(--replit-recent-repl-btn-hover-color-dark);
    --replit-textarea-border-color: var(--replit-textarea-border-color-dark);
    --replit-start-building-btn-color: var(--replit-start-building-btn-color-dark);
    --replit-improve-btn-color: var(--replit-improve-btn-color-dark);
    --replit-create-repl-btn-color: var(--replit-create-repl-btn-dark-color);
    --replit-icon-color: var(--replit-icon-color-dark);
}
body.light-theme{
    --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-light);
    --replit-start-building-btn-color: var(--replit-start-building-btn-color-light);
    --replit-recent-repl-btn-hover-color: var(--replit-recent-repl-btn-hover-color-light);
    --replit-textarea-border-color: var(--replit-textarea-border-color-light);
    --replit-improve-btn-color: var(--replit-improve-btn-color-light);
    --replit-create-repl-btn-color: var(--replit-create-repl-btn-light-color);
    --replit-icon-color: var(--replit-icon-color-light);
}
body.spooky-theme{
    --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-spooky);
    --replit-recent-repl-btn-hover-color: var(--replit-recent-repl-btn-hover-color-spooky);
    --replit-textarea-border-color: var(--replit-textarea-border-color-spooky);
    --replit-start-building-btn-color: var(--replit-start-building-btn-color-spooky);
    --replit-improve-btn-color: var(--replit-improve-btn-color-spooky);
    --replit-create-repl-btn-color: var(--replit-create-repl-btn-spooky-color);
    --replit-icon-color: var(--replit-icon-color-spooky);
}



.replit-agent-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.agent-header-container{
    display: flex;
    gap: 8px;
    align-items: start;
}
.agent-header-container .agent-text-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.textarea-container{
    position: relative;
    width: 100%;
}
.textarea-container .custom-textarea{
    width: 100%;
    height: 240px;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    background-color: var(--replit-textarea-bg);
    border: 1px solid var(--replit-textarea-border-color);
    outline: none;
}

.custom-textarea:focus{
    outline: 1px solid var(--replit-textarea-outline-color);
}
.actions{
   position: absolute;
   bottom: 14px;
   width: 100%;
   padding: 0 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 8px;
}
.actions .upload-icon{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    height: 16px;
    width: 16px;
    color:var(--replit-icon-color);
}
.actions-button-right-container{
    display: flex;
    align-items: center;
    gap: 8px;
}
.actions .upgrade-button,.improve-button,.start-button{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
}
.actions .upgrade-button{
    background-color: var(--replit-upgrade-btn-color);
}
.actions .improve-button{
    background-color: var(--replit-improve-btn-color);
}
.actions .start-button{
    background-color: var(--replit-start-building-btn-color);
}

.examples-container{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
}
.example-button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.example-button-container .example-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--replit-border-color);
    background-color: var(--replit-bg-color);
}

.recent-repls-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}
.recent-repls-button-container{
    display: flex;
    gap: 8px;
}

.recent-repls-button-container button:first-child{
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--replit-border-color);
    background-color: var(--replit-create-repl-btn-color);
    text-transform: capitalize;
}
.recent-repls-button-container button:not(:first-child){
    padding: 4px 8px;
    border: none;
    background-color: transparent;
    text-transform: capitalize;
}
.recent-repls-button-container button:not(:first-child):hover{
    border-radius: 4px;
}

.recent-repls-button-container button:hover{
    background-color: var(--replit-recent-repl-btn-hover-color);
}


