@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --replit-font-family: "IBM Plex Sans", sans-serif;
    --replit-bg-light: #ebeced;
    --replit-bg-dark: #0e1525;
    --replit-bg-spooky: #020203;
    --replit-modal-bg-dark: #1c2333;
    --replit-modal-bg-light: #f9f5fc;
    --replit-modal-bg-spooky: #020203;
    --replit-modal-container-bg-dark: #1e293b;
    --replit-modal-container-bg-light: #f9f5fc;
    --replit-modal-container-bg-spooky: #020203;
    --replit-border-color-dark: #3c445c;
    --replit-border-radius: 8px;

  }
body {
    width: 100vw;
    height: 100vh;
    font-family: var(--replit-font-family);
  }
  
  body.dark-theme {
    background-color: var(--replit-bg-dark);
    --replit-modal-bg: var(--replit-modal-bg-dark);
    --replit-modal-container-bg: var(--replit-modal-container-bg-dark);
    --replit-text-color: var(--replit-text-color);
    --replit-border-color: var(--replit-border-color-dark);
  }
  
  body.light-theme {
    background-color: var(--replit-bg-light);
    --replit-modal-bg: var(--replit-modal-bg-light);
    --replit-modal-container-bg: var(--replit-modal-container-bg-light);
  }
  
  body.spooky-theme {
    background-color: var(--replit-bg-spooky);
    --replit-modal-bg: var(--replit-modal-bg-spooky);
    --replit-modal-container-bg: var(--replit-modal-container-bg-spooky);
    --replit-text-color: var(--replit-text-color);
  }
  
  
  .modal {
    background-color: var(--replit-modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 18px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal-content {
    background-color: var(--replit-modal-container-bg);
    color: #fff;
    border: 1px solid var(--replit-border-color);
    padding: 14px;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    height: fit-content;
    text-align: center;
  }
  
  .modal-title {
    width: 100%;
    text-align: left;
    padding: 14px 0;
  }
  
  
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .feature {
    background: var(--replit-modal-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    border: 1px solid #242b2c;
    border-radius: 8px;
    text-align: left;
  }
  
  .feature-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Spacing between the icon and title */
  }
  
  .feature .icon {
    flex-shrink: 0;
    /* Prevent the icon from shrinking */
  }
  
  
  .carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
    min-height: 100%;
  
  }
  
  .carousel-indicators-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .indicator {
    width: 6px;
    height: 6px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: #0079f2;
  }
  
  .bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 10px 0;
  }
  
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .btn-container #continueBtn {
    display: flex;
    align-items: center;
    background-color: #0079f2;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    gap: 6px;
    cursor: pointer;
  }
  
  .btn-container #backBtn {
    display: flex;
    align-items: center;
    background-color: #3c445c;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    gap: 6px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #2563eb;
  }
  
  
  
  .carousel-slide .personal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  
  .username-container {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 8px 0;
    align-items: center;
  }
  
  .username-container label {
    font-weight: bold;
  }
  
  .edit-username {
    background: none;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .edit-username svg {
    padding: 4px;
    display: flex;
    justify-self: center;
  }
  
  .edit-username:hover {
    background-color: #3c445c;
    border-radius: 4px;
  
  }
  
  .name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;
  }
  
  .name-container .name-input {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  
  .name-container .name-input label {
    width: 100%;
    text-align: left;
  }
  
  .name-container .name-input input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    background: #2b3445;
    border: 1px solid #3c445c;
  }
  
  .experience-container,
  .use-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }
  
  .experience-container label,
  .use-container label {
    width: 100%;
    display: flex;
    text-align: left;
  }
  
  .experience-container .options,
  .use-container .options {
    display: flex;
    border: 1px solid #3c445c;
    border-radius: 6px;
  }
  
  .options .inline-label,
  .use-container .inline-label {
    padding: 8px;
    cursor: pointer;
    background-color: #2b3445;
    color: #fff;
    flex: 1;
    text-align: center;
    border: 1px solid transparent;
    /* Set a default transparent border */
    border-radius: 0;
    /* Match hover state if needed */
    display: flex;
    align-self: center;
    justify-content: center;
  }
  
  .inline-label span {
    display: flex;
    /* Ensure the span behaves as a flex container for nested elements */
    align-items: center;
    /* Center the text and SVG inside the span */
    gap: 8px;
    /* Adjust spacing between the SVG and the text */
  }
  
  .options .inline-label:first-child,
  .use-container .inline-label:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .options .inline-label:last-child,
  .use-container .inline-label:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .options .inline-label:hover {
    background-color: #3c445c;
    border: 1px solid #0079f2;
  }
  
  .options .inline-label.selected {
    background-color: #0053a6;
  }
  
  
  
  /* styles.css */
  .username-container #username-input {
    width: 100%;
    padding: 8px;
    color: #fff;
    border-radius: 4px;
    outline: none;
    background: #2b3445;
    border: 1px solid #3c445c;
  }
  
  .username-container .edit-buttons {
    display: flex;
    gap: 10px;
  }
  
  .username-container .edit-buttons .cancel-button {
    padding: 5px 10px;
    background-color: #3c445c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .username-container .edit-buttons .save-button {
    padding: 5px 10px;
    background-color: #004182;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .username-container .edit-buttons .save-button:hover {
    background-color: #0079f2;
  }
  
  
  .carousel-slide .plan-info {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: column;
    gap: 16px;
  }
  
  .plan-info .starter-plan-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  
  
  
  
  
  @media screen and (max-width: 479px) {
    .modal {
      width: 100%;
      height: 100%;
      padding: 18px;
      /* Add padding for smaller screens */
      align-items: flex-start;
      /* Align modal content to the top */
      overflow-y: auto;
      /* Enable scrolling for tall content */
    }
  
    .modal-content {
      max-width: 100%;
      height: fit-content;
      padding: 18px;
      border-radius: 8px;
      box-sizing: border-box;
    }
  
    .feature-grid {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .feature {
      padding: 10px;
    }
  
    .feature-header {
      flex-direction: row;
      align-items: center;
    }
  
    .modal-title {
      padding: 10px 0;
    }
  
    .name-container {
      grid-template-columns: 1fr;
    }
  
    .experience-container .options,
    .use-container .options {
      flex-direction: column;
    }
  
    .experience-container .options .inline-label,
    .use-container .options .inline-label {
      width: 100%;
      border: 1px solid #3c445c;
    }
  
  }