@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button{
  cursor: pointer;
}
:root {
  --replit-font-family: "IBM Plex Sans", sans-serif;
  --replit-bg-light: #ebeced;
  --replit-bg-dark: #0e1525;
  --replit-bg-spooky: #020203;
  --replit-text-color-dark: #f9f5fc;
  --replit-text-color-light: #0e1525;
  --replit-text-color-spooky: #f9f5fc;
  --replit-search-input-bg-color-dark: #1c2333;
  --replit-search-input-bg-color-spooky:#292c33;
  --replit-border-color-dark: #3c445c;
  --replit-border-color-spooky: #4e5569;
  --replit-border-color-light:#d2d4d6;
  --replit-intials-bg-color-dark: #2b3245;
  --replit-intials-bg-color-light: #d2d4d6;
  --replit-intials-bg-color-spooky: #020203;
  --replit-create-btn-hover-color-dark: #1c2333;
  --replit-create-btn-hover-color-spooky: #292c33;
  --replit-upgrade-btn-color-dark: #bb3e02;
  --replit-upgrade-btn-color-spooky: #bb3e02;
  --replit-upgrade-btn-color-light: #faae8a;
  --replit-action-icons-bg-color-dark:#1c2333;
  --replit-action-icons-bg-color-light:#fcfcfc;
  --replit-action-icons-bg-color-spooky:#292c33;
  --replit-menu-list-hover-color-dark:#1c2333;
  --replit-menu-list-hover-color-light:#fcfcfc;
  --replit-menu-list-hover-color-spooky:#292c33;
  --replit-title-size: 16px;
  --replit-text-size: 14px;
  --replit-scrollbar-track-bg-light: #f5f9fc;
  --replit-scrollbar-track-bg-dark: #1a2132;
  --replit-scrollbar-track-bg-spooky: #292c33;
  --replit-scrollbar-thumb-bg-spooky: #474a52;
  --replit-scrollbar-thumb-bg-light: #d2d4d6;
  --replit-scrollbar-thumb-bg-dark: #3c445c;
  --replit-sidebar-bg-color-dark: #0e1525;
  --replit-sidebar-bg-color-light: #ebeced;
  --replit-sidebar-bg-color-spooky: #020203;
  --replit-textarea-border-color-dark:#1c2333;
  --replit-textarea-border-color-spooky:#292929;
  --replit-textarea-outline-color-light:#8972ff;
  --replit-dropdown-container-bg-color-light:#fccbb3;
  --replit-dropdown-container-bg-color-dark:#6c301a;
  --replit-dropdown-container-bg-color-spooky:#72351a;
}



html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--replit-font-family);
  background-color: var(--replit-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--replit-title-size);
  color: var(--replit-text-color);
}

span,
p,
label,
input,
select,
a,
ul,
button,
li,
textarea {
  font-size: var(--replit-text-size);
  color: var(--replit-text-color);
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--replit-scrollbar-track-bg); 
}
::-webkit-scrollbar-thumb {
  background: var(--replit-scrollbar-thumb-bg);
}
body.dark-theme {
  --replit-bg-color: var(--replit-bg-dark);
  --replit-text-color: var(--replit-text-color-dark);
  --replit-border-color: var(--replit-border-color-dark);
  --replit-create-btn-hover-color: var(--replit-create-btn-hover-color-dark);
  --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-dark);
  --replit-search-input-bg-color: var(--replit-search-input-bg-color-dark);
  --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-dark);
  --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-dark);
  --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-dark);
  --replit-intials-bg-color: var(--replit-intials-bg-color-dark);
  --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-dark);
  --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-dark);
  --replit-textarea-border-color: var(--replit-textarea-border-color-dark);
  --replit-textarea-outline-color: var(--replit-textarea-outline-color-dark);
  --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-dark);
}

body.light-theme {
  --replit-bg-color: var(--replit-bg-light);
  --replit-text-color: var(--replit-text-color-light);
  --replit-border-color: var(--replit-border-color-light);
  --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-light);
  --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-light);
  --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-light);
  --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-light);
  --replit-intials-bg-color: var(--replit-intials-bg-color-light);
  --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-light);
  --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-light);
  --replit-textarea-border-color: var(--replit-textarea-border-color-light);
  --replit-textarea-outline-color: var(--replit-textarea-outline-color-light);
  --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-light);
}

body.spooky-theme {
  --replit-bg-color: var(--replit-bg-spooky);
  --replit-text-color: var(--replit-text-color-spooky);
  --replit-create-btn-hover-color: var(--replit-create-btn-hover-color-spooky);
  --replit-border-color: var(--replit-border-color-spooky);
  --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-spooky);
  --replit-search-input-bg-color: var(--replit-search-input-bg-color-spooky);
  --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-spooky);
  --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-spooky);
  --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-spooky);
  --replit-intials-bg-color: var(--replit-intials-bg-color-spooky);
  --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-spooky);
  --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-spooky);
  --replit-textarea-border-color: var(--replit-textarea-border-color-spooky);
  --replit-textarea-outline-color: var(--replit-textarea-outline-color-spooky);
  --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-spooky);
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--replit-text-color);
  border-bottom: 1px solid var(--replit-border-color);
  /* padding: 0px 8px; */
}

.navbar .profile-container {
  display: flex;
  width: 100%;
  min-height: 45px;
  min-width: 240px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  border-right: 1px solid var(--replit-border-color);
}




.dropdown-menu-settings {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 260px;
  background-color: #fff;
  border: 1px solid var(--replit-border-color);
  outline: 1px solid var(--replit-textarea-outline-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  z-index: 10;
}
.dropdown-menu-settings .personal-details-container{
  display: flex;
  align-items: center;
  gap: 10px;
}
 
.dropdown-menu-settings .profile-icon-left{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--replit-intials-bg-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.dropdown-menu-settings .profile-details{
  width: 100%;
  max-width: fit-content;
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.dropdown-menu-settings .plan-name{
  padding: 4px;
  height: 24px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--replit-upgrade-btn-color-light);
  border-radius: 4px;
}
.dropdown-menu-settings.hidden {
  display: none;
}

.dropdown-menu-settings .personal-details-container,.replit-access-container,.account-container{
  padding: 10px;
}

.dropdown-menu-settings .replit-access-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color:var(--replit-dropdown-container-bg-color);
}
.replit-access-container .replit-join-btn{
  padding: 8px 10px;
  border: none;
  gap: 10px;
  background-color: var(--replit-upgrade-btn-color-light);
  border-radius: 5px;
  cursor: pointer;
}
.replit-access-container>li{
  display: flex;
  align-items: center;
  gap: 6px;
}
.account-container>li{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 0px;
}
/* dropdown list */
.dropdown-list {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 240px;
  background-color: #fff;
  border: 1px solid var(--replit-border-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  z-index: 10;
}
.dropdown-list-container-top{
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
.dropdown-list-title{
  padding: 4px 10px;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.dropdown-list-container-bottom{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 8px;
  background-color:var(--replit-dropdown-container-bg-color);
}
.dropdown-list-item{
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.create-organization-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.create-organization-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border: none;
  margin: 4px 0;
  gap: 10px;
  background-color: var(--replit-upgrade-btn-color-light);
  border-radius: 5px;
  cursor: pointer;
}
/* profile container */
.profile-container .dropdown-icon {
  margin-right: 10px;
}
.organization-info-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.organization-info-container .organization-title{
  padding: 0px 10px;
}

.list-divider{
  border-bottom: 1px solid var(--replit-border-color);
}

.list-item{
  display: flex;
  align-items: center;
  padding: 4px 6px;
  gap: 6px;
}
.list-item-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}


.organization-info-container .profile-icon-list{
  display: flex;
  align-items: center;
  padding: 4px 10px;
  gap: 6px;
 }
.profile-icon-list-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin: auto 0;
  background-color: var(--replit-intials-bg-color);
  border-radius: 50%;
}
.profile-icon-list-icon-text{
  font-size: 8px;
  color: var(--replit-text-color);
}

.username {
  font-size: 14px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-icon {
  width: 24px;
  height: 24px;
  background-color: var(--replit-intials-bg-color);
  color: var(--replit-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile-icon span{
  font-size: 10px !important;
}
/* Left Section */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-left .button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inner-container {
  display: flex;
  width: 18px;
  height: 16px;
  border: 1px solid var(--replit-border-color);
  border-radius: 2px;
  position: relative;
}

.white-section {
  width: 50%;
  height: 100%;
  border-right: 1px solid var(--replit-border-color);
  border-radius: 2px;
  transition: width 0.5s ease;
}

.navbar-left .button:hover .white-section {
  width: 0%;
}

.button.open .white-section {
  background-color: var(--replit-bg-color);
}




.replit-icon {
  display: flex;
  justify-self: center;
  align-items: center;
}


.dropdown-icon {
  font-size: 12px;
  color: var(--replit-text-color);
}

/* Center Section */
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  max-width: 600px;
  background-color: var(--replit-search-input-bg-color);
  border: 1px solid var(--replit-border-color);
  padding: 4px 10px;
  border-radius: 5px;
}

.search-box input {
  background: none;
  width: 100%;
  border: none;
  color: var(--replit-text-color);
  outline: none;
}

.search-icon {
  font-size: 14px;
  display: flex;
  align-items: center;
}

/* Right Section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 8px;
}

.action-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.profile-icon-right{
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  height: 100%;  
  padding: 4px;
}

.action-icons:hover, .profile-icon-right:hover {
  background-color: var(--replit-action-icons-bg-color);
}

.shortcut {
  font-size: 12px;
  padding: 4px 6px;
  background-color: var(--replit-create-btn-hover-color);
  color: var(--replit-text-color);
  border-radius: 5px;
}


.profile-icon.right {
  margin-left: 10px;
}


.create-repl-btn-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  /* margin: 8px 0; */
}

.create-repl-btn {
  color: var(--replit-text-color);
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--replit-border-color);
  cursor: pointer;
  padding: 4px;
}

.create-repl-btn:hover {
  background-color: var(--replit-create-btn-hover-color);
}

.menu {
  list-style-type: none;
  padding: 0 12px;
  transition: all 0.3s ease;
}

.menu li {
  box-sizing: border-box;
  padding: 6px;
  border-radius: 5px;
}

.menu li:hover {
  transition: all 0.3s ease;
  background-color: var(--replit-menu-list-hover-color);
}

.menu a {
  text-decoration: none;
  color: var(--replit-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.menu a:hover {
  color: var(--replit-text-color);
}


.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main-layout {
  display: grid;
  min-height: calc(100vh - 46px);
  transition: all 0.3s ease;
}

#main-layout:has(.sidebar-container.closed) {
  padding: 0px;
  margin: 0;
}

.sidebar-container {
  height: 100%;
  border-right: 1px solid var(--replit-border-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.sidebar-container.closed {
  transform: translateX(-240px);
  width: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

.divider {
  border-bottom: 1px solid var(--replit-border-color);
  padding: 6px 0;
  color: var(--replit-text-color);
  font-size: 14px;
}

.explore-label ,.plan-label{
  width: 100%;
  padding: 8px 14px;
}


.plan-info {
  padding: 8px 14px;
}

.plan-info-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 6px;
  padding: 4px 0;
}

.plan-info-item-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.progress-bar-container {
  display: flex;
  gap: 2px;
}

.progress-bar {
  width: 12px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--replit-text-color);
}

.dev-time-progress-bar,
.storage-progress-bar {
  width: 40px;
  height: 8px;
  border-radius: 2px;
  padding: 4px;
  background-color: var(--replit-text-color);
}

.upgrade-btn {
  background-color: var(--replit-upgrade-btn-color);
  color: var(--replit-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  border: none;
  padding: 6px 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}


.upgrade-btn:hover {
  background-color: var(--replit-upgrade-btn-color);
}

.sidebar-footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 14px;
}
.sidebar-footer-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.sidebar-footer a {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4px;
}


.main-right-container{
  width: 100%;
  height: 100%;
  display: grid;
  padding: 40px 0;
}

.body-container{
  display: flex;
  width: 100%;
  padding:20px;
  flex-direction: column;
}
@media screen and (max-width: 1024) {
  .main-right-container{
    padding: 0 20px;
  }
  .body-container{
    padding: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .main-right-container{
    display: grid;
    padding:40px;
    width: 100%;
  }
  .body-container{
    padding: 0;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

  }
}




@media screen and (max-width: 479px) {
  :root {
    --replit-title-size: 12px;
    --replit-text-size: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--replit-title-size);
  }


  span,
  p,
  label,
  input,
  a,
  li,
  select,
  button,
  textarea {
    font-size: var(--replit-text-size);
  }

  .sidebar-container {
    height: 100%;
    border-right: 1px solid var(--replit-border-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    z-index: 1000;
    top: 0;
    margin-top: 45px;
    overflow:hidden;
    background-color: var(--replit-sidebar-bg-color);
    transform: translateX(0);
    transition: transform 0.3s ease;
  }


  .sidebar-container.closed {
    transform: translateX(-100%);
  }

  .navbar {
    padding: 4px;
  }

  #main-layout {
    display: flex;
    width: 100%;

  }
  .main-right-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .navbar.open .navbar-left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  
  .profile-container.hidden {
    display: none !important;
  }
 
}

