@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./fonts/fonts.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --replit-header-height:46px;
  --loader-color-light:#6BB5FF;
  --loader-color-dark:#004182;
  --loader-color-spooky:#9C4E00;
  --replit-font-family: "IBM Plex Sans", sans-serif;
  --replit-bg-light: #ebeced;
  --replit-bg-dark: #0e1525;
  --replit-bg-spooky: #020203;
  --replit-nav-bg-light: #EBECED;
  --replit-nav-bg-dark: #0E1525;
  --replit-nav-bg-spooky: #020203;
  --replit-text-color-dark: #f9f5fc;
  --replit-text-color-light: #0e1525;
  --replit-text-color-spooky: #f9f5fc;
  --replit-search-input-bg-color-light:#fcfcfc;
  --replit-search-input-bg-color-dark: #1c2333;
  --replit-search-input-bg-color-spooky:#292c33;
  --replit-border-color-dark: #3c445c;
  --replit-border-color-spooky: #4e5569;
  --replit-border-color-light:#d2d4d6;
  --replit-intials-bg-color-dark: #2b3245;
  --replit-intials-bg-color-light: #d2d4d6;
  --replit-intials-bg-color-spooky: #4e5569;
  --replit-create-btn-hover-color-dark: #1c2333;
  --replit-create-btn-hover-color-spooky: #292c33;
  --replit-upgrade-btn-color-dark: #bb3e02;
  --replit-upgrade-btn-color-spooky: #bb3e02;
  --replit-upgrade-btn-color-light: #faae8a;
  --replit-action-icons-bg-color-dark:#1c2333;
  --replit-action-icons-bg-color-light:#fcfcfc;
  --replit-action-icons-bg-color-spooky:#292c33;
  --replit-active-link-bg-light:#fcfcfc;
  --replit-active-link-bg-dark:#1C2333;
  --replit-active-link-bg-spooky:#292C33;
  --replit-menu-list-hover-color-dark:#1c2333;
  --replit-menu-list-hover-color-light:#fcfcfc;
  --replit-menu-list-hover-color-spooky:#292c33;
  --replit-scrollbar-track-bg-light: #f5f9fc;
  --replit-scrollbar-track-bg-dark: #1a2132;
  --replit-scrollbar-track-bg-spooky: #292c33;
  --replit-scrollbar-thumb-bg-spooky: #474a52;
  --replit-scrollbar-thumb-bg-light: #d2d4d6;
  --replit-scrollbar-thumb-bg-dark: #3c445c;
  --replit-sidebar-bg-color-dark: #0e1525;
  --replit-sidebar-bg-color-light: #ebeced;
  --replit-sidebar-bg-color-spooky: #020203;
  --replit-textarea-border-color-dark:#1c2333;
  --replit-textarea-border-color-spooky:#292929;
  --replit-textarea-outline-color-light:#8972ff;
  --replit-dropdown-container-bg-color-light:#fccbb3;
  --replit-dropdown-container-bg-color-dark:#6c301a;
  --replit-dropdown-container-bg-color-spooky:#72351a;
  --replit-dropdown-container-hover-light:#F0F1F2;
  --replit-dropdown-container-hover-dark:#2B3245;
  --replit-dropdown-container-hover-spooky:#383B42;
  --repls-personal-details-bg-light:#FCFCFC;
  --repls-personal-details-bg-dark:#1C2333;
  --repls-personal-details-bg-spooky:#292C33;
  --z-index-navbar: 1000;
  --z-index-dropdown: 999;
  --z-index-sidebar: 998;
  --replit-starter-btn-bg-light:#ebd66e;
  --replit-starter-btn-bg-dark:#4d4000;
  --replit-starter-btn-bg-spooky:#756200;
  --replit-profile-icon-list-bg-light:#f0f1f2;
  --replit-profile-icon-list-bg-dark:#2b3245;
  --replit-profile-icon-list-bg-spooky:#383b42;
  --new-btn-bg-color-light:#d2d4d6;
  --new-btn-bg-color-dark:#063B72;
  --new-btn-bg-color-spooky:#d96d00;
  --search-result-container-bg-light:#f2f3f3;
  --search-result-container-bg-dark:#1c2333;
  --search-result-container-bg-spooky:#292c33;


}
body.dark-theme {
  --replit-nav-bg-color: var(--replit-nav-bg-dark);
  --replit-bg-color: var(--replit-bg-dark);
  --replit-text-color: var(--replit-text-color-dark);
  --replit-border-color: var(--replit-border-color-dark);
  --replit-create-btn-hover-color: var(--replit-create-btn-hover-color-dark);
  --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-dark);
  --replit-search-input-bg-color: var(--replit-search-input-bg-color-dark);
  --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-dark);
  --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-dark);
  --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-dark);
  --replit-intials-bg-color: var(--replit-intials-bg-color-dark);
  --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-dark);
  --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-dark);
  --replit-textarea-border-color: var(--replit-textarea-border-color-dark);
  --replit-textarea-outline-color: var(--replit-textarea-outline-color-dark);
  --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-dark);
  --repls-personal-details-bg-color: var(--repls-personal-details-bg-dark);
  --loader-color: var(--loader-color-dark);
  --header-height: var(--replit-header-height);
  --replit-dropdown-container-hover-color: var(--replit-dropdown-container-hover-color-dark);
  --replit-starter-btn-bg-color: var(--replit-starter-btn-bg-dark);
  --replit-profile-icon-list-bg-color: var(--replit-profile-icon-list-bg-dark);
  --new-btn-bg-color: var(--new-btn-bg-color-dark);
  --search-result-container-bg-color: var(--search-result-container-bg-dark);
  --active-link-bg: var(--replit-active-link-bg-dark);
}

body.light-theme {
  --replit-nav-bg-color: var(--replit-nav-bg-light);
  --replit-bg-color: var(--replit-bg-light);
  --replit-text-color: var(--replit-text-color-light);
  --replit-border-color: var(--replit-border-color-light);
  --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-light);
  --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-light);
  --replit-search-input-bg-color: var(--replit-search-input-bg-color-light);
  --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-light);
  --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-light);
  --replit-intials-bg-color: var(--replit-intials-bg-color-light);
  --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-light);
  --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-light);
  --replit-textarea-border-color: var(--replit-textarea-border-color-light);
  --replit-textarea-outline-color: var(--replit-textarea-outline-color-light);
  --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-light);
  --repls-personal-details-bg-color: var(--repls-personal-details-bg-light);
  --loader-color: var(--loader-color-light);
  --header-height: var(--replit-header-height);
  --replit-dropdown-container-hover-color: var(--replit-dropdown-container-hover-color-light);
  --replit-starter-btn-bg-color: var(--replit-starter-btn-bg-light);
  --replit-profile-icon-list-bg-color: var(--replit-profile-icon-list-bg-light);
  --new-btn-bg-color: var(--new-btn-bg-color-light);
  --search-result-container-bg-color: var(--search-result-container-bg-light);
  --active-link-bg: var(--replit-active-link-bg-light);
}

body.spooky-theme {
  --replit-nav-bg-color: var(--replit-nav-bg-spooky);
  --replit-bg-color: var(--replit-bg-spooky);
  --replit-text-color: var(--replit-text-color-spooky);
  --replit-create-btn-hover-color: var(--replit-create-btn-hover-color-spooky);
  --replit-border-color: var(--replit-border-color-spooky);
  --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-spooky);
  --replit-search-input-bg-color: var(--replit-search-input-bg-color-spooky);
  --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-spooky);
  --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-spooky);
  --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-spooky);
  --replit-intials-bg-color: var(--replit-intials-bg-color-spooky);
  --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-spooky);
  --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-spooky);
  --replit-textarea-border-color: var(--replit-textarea-border-color-spooky);
  --replit-textarea-outline-color: var(--replit-textarea-outline-color-spooky);
  --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-spooky);
  --repls-personal-details-bg-color: var(--repls-personal-details-bg-spooky);
  --loader-color: var(--loader-color-spooky);
  --replit-dropdown-container-hover-color: var(--replit-dropdown-container-hover-color-spooky);
  --replit-starter-btn-bg-color: var(--replit-starter-btn-bg-spooky);
  --header-height: var(--replit-header-height);
  --replit-profile-icon-list-bg-color: var(--replit-profile-icon-list-bg-spooky);
  --new-btn-bg-color: var(--new-btn-bg-color-spooky);
  --search-result-container-bg-color: var(--search-result-container-bg-spooky);
  --active-link-bg: var(--replit-active-link-bg-spooky);
}


html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--replit-font-family);
  background-color: var(--replit-bg-color);
  color: var(--replit-text-color);
}


li{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--text-size-sm);
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;  
}
::-webkit-scrollbar-track {
  background: var(--replit-scrollbar-track-bg); 
}
::-webkit-scrollbar-thumb {
  background: var(--replit-scrollbar-thumb-bg);
}

.loader-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 2.8px;
  display: flex;
  z-index: 9999;
  pointer-events: none;
}

.loader {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 0;
  height: 100%;
  background: var(--loader-color-dark);
  position: absolute;
  top: 0;
  left: 0;
  animation: none;
}

.loader-container:not(.hidden) .loader::after {
  animation: animFw 0.8s linear;
}

.loader-container.hidden {
  display: none !important;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--replit-text-color);
  background-color: var(--replit-nav-bg-color);
  border-bottom: 1px solid var(--replit-border-color);
  /* overflow: hidden; */
  position: fixed;
  z-index: var(--z-index-navbar);
  top: 0;
  left: 0;
}



.navbar .profile-container {
  display: flex;
  width: 100%;
  min-height: 45px;
  min-width: 240px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  border-right: 1px solid var(--replit-border-color);
}




.dropdown-menu-settings {
  position: fixed;
  top: calc(var(--header-height));
  right: 10px;
  width: 260px;
  /* margin-top: 10px; */
  background-color: #fff;
  border: 1px solid var(--replit-border-color);
  background-color: var(--repls-personal-details-bg-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  z-index: var(--z-index-dropdown);
}
.dropdown-menu-settings .personal-details-container{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--repls-personal-details-bg-color);
}
 
.dropdown-menu-settings .profile-icon-left{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--replit-intials-bg-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.dropdown-menu-settings .profile-details{
  width: 100%;
  max-width: fit-content;
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.dropdown-menu-settings .profile-username{
  font-size: var(--text-size-sm);
  font-weight: 500;
}
.dropdown-menu-settings .plan-name{
  padding: 4px;
  height: 24px;
  display: flex;
  font-size: var(--text-size-xs);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--replit-starter-btn-bg-color);
  border-radius: 4px;
}
.dropdown-menu-settings.hidden {
  display: none;
}
.dropdown-menu-settings .account-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color:var(--repls-personal-details-bg-color);
}
.account-container li{
  cursor: pointer;
}
.account-container li:hover{
  background-color: var(--replit-dropdown-container-hover-color);
}

.dropdown-menu-settings .personal-details-container,.replit-access-container{
  padding: 10px;
}
.account-container [class$="-link"] {
  padding: 6px 10px;
}

.dropdown-menu-settings .replit-access-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color:var(--replit-dropdown-container-bg-color);
}
.replit-access-container .replit-join-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border: none;
  gap: 10px;
  background-color: var(--replit-upgrade-btn-color);
  color: var(--replit-text-color);
  border-radius: 5px;
  cursor: pointer;
}
.replit-access-container>li{
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--text-size-sm);
  font-weight: 500;
  padding: 2px 0px;
}
.account-container>li{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 0px;
}
/* dropdown list */
.dropdown-list {
  position: fixed;
  top: var(--header-height);
  /* left: 10px; */
  width: 240px;
  /* margin-top: 10px; */
  /* background-color: #fff; */
  border: 1px solid var(--replit-border-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  z-index: var(--z-index-dropdown);
}
.dropdown-list-container-top{
  display: flex;
  flex-direction: column;
  background-color: var(--repls-personal-details-bg-color);
  gap: 4px;
  justify-content: center;
}
.join-organization-container{
  display: flex;
  align-items: center;
  padding: 4px 0px;
}


.dropdown-list-title{
  padding: 4px 10px;
  font-size: var(--text-size-sm);
  font-weight: 600;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.dropdown-list-container-bottom{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 8px;
  background-color:var(--replit-dropdown-container-bg-color);
}
.dropdown-list-item{
  display: flex;
  align-items: flex-start;
  gap: 4px;
  font-size: var(--text-size-sm);
  font-weight: 500;
}
.dropdown-list-item svg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
}

.create-organization-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.create-organization-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border: none;
  margin: 4px 0;
  gap: 10px;
  background-color: var(--replit-upgrade-btn-color);
  border-radius: 5px;
  color: var(--replit-text-color);
  cursor: pointer;
}
/* profile container */
.profile-container .dropdown-icon {
  margin-right: 10px;
}
.organization-info-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.organization-info-container .organization-title{
  padding: 0px 10px;
  font-size: var(--text-size-xs);
  font-weight: 400;
}

.list-divider{
  border-bottom: 1px solid var(--replit-border-color);
}

.list-item{
  display: flex;
  align-items: center;
  padding: 4px 6px;
  gap: 6px;
  margin-bottom:6px;
}
.list-item-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}


.organization-info-container .profile-icon-list{
  display: flex;
  align-items: center;
  padding: 4px 10px;
  gap: 6px;
  background-color:var(--replit-profile-icon-list-bg-color);
 }

 .profile-bg{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 24px;
  height: 24px;
  margin: auto 0;
  background-color: var(--replit-intials-bg-color);
  border-radius: 50%;
 }
.profile-icon-list-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin: auto 0;
  background-color: var(--replit-intials-bg-color);
  border-radius: 50%;
}

.profile-icon-text{
  font-size: var(--text-size-xs);
}
.username {
  font-size: var(--text-size-sm);
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-icon {
  width: 24px;
  height: 24px;
  background-color: var(--replit-intials-bg-color);
  color: var(--replit-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


/* Left Section */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-left .button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inner-container {
  display: flex;
  width: 18px;
  height: 16px;
  border: 1px solid var(--replit-border-color);
  border-radius: 2px;
  position: relative;
}

.white-section {
  width: 50%;
  height: 100%;
  border-right: 1px solid var(--replit-border-color);
  border-radius: 2px;
  transition: width 0.5s ease;
}

.navbar-left .button:hover .white-section {
  width: 0%;
}

.button.open .white-section {
  background-color: var(--replit-bg-color);
}




.replit-icon {
  display: flex;
  justify-self: center;
  align-items: center;
}


.dropdown-icon {
  color: var(--replit-text-color);
}

/* Center Section */
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 4px 0;
}

.search-input-wrapper {
  border-radius: 6px;
  padding: 6px 12px;
  display: flex;
  background-color: var(--replit-search-input-bg-color);
  border: 1px solid var(--replit-border-color);
  align-items: center;
  gap: 8px;
}

.search-input {
  background: transparent;
  border: none;
  width: 100%;
  font-size: 14px;
  outline: none;
  color:var(--replit-text-color);
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid var(--replit-border-color);
  z-index: 999;
  display: none;
}

/* Show search results when active */
.search-results.active {
  display: block;
}

.shortcut {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.search-item{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: var(--search-result-container-bg-color);
}
.new-btn-container{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 6px;
  border: none;
  background-color:transparent;
  cursor: pointer;
}

.new-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 8px;
  border: none;
  background-color: var(--new-btn-bg-color);
  border-radius: 4px;
  font-size: var(--text-size-xs);
  cursor: pointer;
}

.my-repls-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  padding: 8px 6px;
  border: none;
  background-color:transparent;
  cursor: pointer;
}
.my-repls-btn{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 6px;
  border-radius: 4px;
  border: none;
  background-color:var(--new-btn-bg-color);
  cursor: pointer;
}
/* Right Section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 8px;
}

.action-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.profile-icon-right{
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  height: 100%;  
  padding: 4px;
}

.action-icons:hover, .profile-icon-right:hover {
  background-color: var(--replit-action-icons-bg-color);
}

.shortcut {
  padding: 4px 6px;
  background-color: var(--replit-create-btn-hover-color);
  color: var(--replit-text-color);
  border-radius: 5px;
  border: 1px solid var(--replit-border-color);
}


.profile-icon.right {
  margin-left: 10px;
}


.create-repl-btn-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  /* margin: 8px 0; */
}

.create-repl-btn {
  color: var(--replit-text-color);
  width: 100%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--replit-border-color);
  cursor: pointer;
  padding: 4px;
}

.create-repl-btn:hover {
  background-color: var(--replit-create-btn-hover-color);
}

.menu {
  list-style-type: none;
  padding: 0 12px;
  transition: all 0.3s ease;
}

.menu li {
  box-sizing: border-box;
  padding: 6px;
  border-radius: 5px;
}

.menu li:hover {
  transition: all 0.3s ease;
  background-color: var(--replit-menu-list-hover-color);
}

.nav-link.active{
  background-color: var(--active-link-bg);
}

.menu a {
  text-decoration: none;
  color: var(--replit-text-color);
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.menu a:hover {
  color: var(--replit-text-color);
}


.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  width: 100%;
  height: 100%;
  transition: grid-template-columns 0.3s ease;
}
#main-layout.sidebar-closed {
  grid-template-columns: 0 1fr;
}

.sidebar-container {
  height: calc(100%- var(--header-height));
  margin-top: var(--header-height);
  width: 240px;
  border-right: 1px solid var(--replit-border-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: space-between;
  transition: all 0.3s ease;
  z-index: var(--z-index-sidebar);
}
.sidebar-container .sidebar-top-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar-container .sidebar-bottom-content{
  display:flex;
  width: 100%;
  flex-direction: column;
}
.sidebar-container.closed {
  transform: translateX(-240px);
}

.divider {
  border-bottom: 1px solid var(--replit-border-color);
  padding: 6px 0;
  color: var(--replit-text-color);
}

.explore-label{
  width: 100%;
  padding: 8px 14px;
  font-size: var(--text-size-xs);
}
.plan-label{
  width: 100%;
  padding: 8px 14px;
}

.plan-info {
  padding: 8px 14px;
}

.plan-info-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 6px;
  padding: 4px 0;
}

.plan-info-item-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.plan-info-item-text-title{
  font-size: var(--text-size-sm);
  font-weight: 500;
}
.plan-info-item-text-subtitle{
  font-size: var(--text-size-xs);
  font-weight: 400;
}

.progress-bar-container {
  display: flex;
  gap: 2px;
}

.progress-bar {
  width: 12px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--replit-text-color);
}

.dev-time-progress-bar,
.storage-progress-bar {
  width: 40px;
  height: 8px;
  border-radius: 2px;
  padding: 4px;
  background-color: var(--replit-text-color);
}

.upgrade-btn {
  background-color: var(--replit-upgrade-btn-color);
  color: var(--replit-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  border: none;
  padding: 6px 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}


.upgrade-btn:hover {
  background-color: var(--replit-upgrade-btn-color);
}

.sidebar-footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 14px;
}
.sidebar-footer-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sidebar-footer-item .install-text{
  font-size: var(--text-size-xs);
  font-weight: 400;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
.sidebar-footer a {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4px;
}


.main-right-container{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 40px 0;
}

.body-container{
  display: flex;
  width: 100%;
  padding:20px;
  flex-direction: column;
}




@media screen and (max-width: 768px) {
 

  .sidebar-container {
    height: 100%;
    width: 240px;
    margin-top: var(--header-height);
    border-right: 1px solid var(--replit-border-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    /* z-index: 1000; */
    top: 0;
    margin-top: 45px;
    overflow:hidden;
    background-color: var(--replit-sidebar-bg-color);
    transform: translateX(0);
    transition: transform 0.3s ease;
  }


  .sidebar-container.closed {
    transform: translateX(-240px);
  }
 .navbar-left{
  gap: 6px;
 }
 .navbar-left .button{
  padding: 6px;
 }
  .navbar {
    padding: 4px;
  }
  .navbar-right{
    justify-content:center;
    display: flex;
    align-items: center;
    padding: 0px 4px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .search-results.active{
    display: none;
  }
  .body-container{
    display: flex;
    width: 100%;
    height: calc(100vh - var(--header-height));
    padding:10px;
    flex-direction: column;
    margin-top: calc(var(--header-height));
  }
  #main-layout {
    display: flex;
    width: 100%;
  }
  .main-right-container{
    width: 100%;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
  }
  
  .navbar.open .navbar-left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .navbar .profile-container {
    display: flex;
    position: absolute;
    left: 0;
    width: 240px;
    /* z-index: 999; */
    cursor: pointer;
    align-items: center;
    background-color: var(--replit-sidebar-bg-color);
    border-right: 1px solid var(--replit-border-color);
  }

}

@media screen and (max-width: 1024) {
  
  .main-right-container{
    padding: 0 20px;
  }
  .body-container{
    padding: 0;
    width: 100%;
    height: calc(var(--header-height)) auto;
  }
}

@media screen and (min-width: 1024px) {
  .main-right-container{
    display: grid;
    padding:40px;
    width: 100%;
  }
  .body-container{
    padding: 0;
    width: 100%;
    max-width: 1000px;
    margin: calc(var(--header-height)) auto;

  }
}























