@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --replit-font-family: "IBM Plex Sans", sans-serif;
    --replit-header-height:46px;
    --loader-color-light:#6BB5FF;
    --loader-color-dark:#004182;
    --loader-color-spooky:#9C4E00;
    --replit-font-family: "IBM Plex Sans", sans-serif;
    --replit-bg-light: #ebeced;
    --replit-bg-dark: #0e1525;
    --replit-bg-spooky: #020203;
    --replit-nav-bg-light: #EBECED;
    --replit-nav-bg-dark: #0E1525;
    --replit-nav-bg-spooky: #020203;
    --replit-text-color-dark: #f9f5fc;
    --replit-text-color-light: #0e1525;
    --replit-text-color-spooky: #f9f5fc;
    --replit-search-input-bg-color-light:#fcfcfc;
    --replit-search-input-bg-color-dark: #1c2333;
    --replit-search-input-bg-color-spooky:#292c33;
    --replit-border-color-dark: #3c445c;
    --replit-border-color-spooky: #4e5569;
    --replit-border-color-light:#d2d4d6;
    --replit-intials-bg-color-dark: #2b3245;
    --replit-intials-bg-color-light: #d2d4d6;
    --replit-intials-bg-color-spooky: #4e5569;
    --replit-create-btn-hover-color-dark: #1c2333;
    --replit-create-btn-hover-color-spooky: #292c33;
    --replit-upgrade-btn-color-dark: #bb3e02;
    --replit-upgrade-btn-color-spooky: #bb3e02;
    --replit-upgrade-btn-color-light: #faae8a;
    --replit-action-icons-bg-color-dark:#1c2333;
    --replit-action-icons-bg-color-light:#fcfcfc;
    --replit-action-icons-bg-color-spooky:#292c33;
    --replit-active-link-bg-light:#fcfcfc;
    --replit-active-link-bg-dark:#1C2333;
    --replit-active-link-bg-spooky:#292C33;
    --replit-menu-list-hover-color-dark:#1c2333;
    --replit-menu-list-hover-color-light:#fcfcfc;
    --replit-menu-list-hover-color-spooky:#292c33;
    --replit-scrollbar-track-bg-light: #f5f9fc;
    --replit-scrollbar-track-bg-dark: #1a2132;
    --replit-scrollbar-track-bg-spooky: #292c33;
    --replit-scrollbar-thumb-bg-spooky: #474a52;
    --replit-scrollbar-thumb-bg-light: #d2d4d6;
    --replit-scrollbar-thumb-bg-dark: #3c445c;
    --replit-sidebar-bg-color-dark: #0e1525;
    --replit-sidebar-bg-color-light: #ebeced;
    --replit-sidebar-bg-color-spooky: #020203;
    --replit-textarea-border-color-dark:#1c2333;
    --replit-textarea-border-color-spooky:#292929;
    --replit-textarea-outline-color-light:#8972ff;
    --replit-dropdown-container-bg-color-light:#fccbb3;
    --replit-dropdown-container-bg-color-dark:#6c301a;
    --replit-dropdown-container-bg-color-spooky:#72351a;
    --replit-dropdown-container-hover-light:#F0F1F2;
    --replit-dropdown-container-hover-dark:#2B3245;
    --replit-dropdown-container-hover-spooky:#383B42;
    --repls-personal-details-bg-light:#FCFCFC;
    --repls-personal-details-bg-dark:#1C2333;
    --repls-personal-details-bg-spooky:#292C33;
    --z-index-navbar: 1000;
    --z-index-dropdown: 999;
    --z-index-sidebar: 998;
    --replit-starter-btn-bg-light:#ebd66e;
    --replit-starter-btn-bg-dark:#4d4000;
    --replit-starter-btn-bg-spooky:#756200;
    --replit-profile-icon-list-bg-light:#f0f1f2;
    --replit-profile-icon-list-bg-dark:#2b3245;
    --replit-profile-icon-list-bg-spooky:#383b42;
    --new-btn-bg-color-light:#d2d4d6;
    --new-btn-bg-color-dark:#063B72;
    --new-btn-bg-color-spooky:#d96d00;
    --replit-toggle-btn-border-light:#07080A;
    --replit-toggle-btn-border-dark:#888e97;
    --replit-toggle-btn-border-spooky:#8F9297;
    --replit-toggle-btn-bg-light:#0C0D0F;
    --replit-toggle-btn-bg-dark:#F5F9FC;
    --replit-toggle-btn-bg-spooky:#F5F9FC;
    --search-result-container-bg-light:#f2f3f3;
    --search-result-container-bg-dark:#1c2333;
    --search-result-container-bg-spooky:#292c33;
    --replit-font-family: "IBM Plex Sans", sans-serif;
    --replit-bg-light: #ebeced;
    --replit-bg-dark: #0e1525;
    --replit-bg-spooky: #020203;
    --replit-text-color-dark: #f9f5fc;
    --replit-text-color-light: #0e1525;
    --replit-text-color-spooky: #f9f5fc;
    --replit-border-radius: 8px;
    --replit-tabs-bottom-border-light:#d2d4d6;
    --replit-tabs-bottom-border-dark:#1c2435;
    --replit-tabs-bottom-border-spooky:#4e5569;
    --replit-active-tab-bottom-border-light:#3c2f31;
    --replit-active-tab-bottom-border-dark:#c4c7bd;
    --replit-active-tab-bottom-border-spooky:#f5f9fc;
    --replit-tabs-divider-border-light:#d6d8d9;
    --replit-tabs-divider-border-dark:#2b3245;
    --replit-tabs-divider-border-spooky:#4e5569;
    --replit-active-tab-hover-bg-light:#fcfcfc;
    --replit-active-tab-hover-bg-dark:#1c2333;
    --replit-active-tab-hover-bg-spooky:#292c33;
    --replit-template-card-border-light:#ebeced;
    --replit-template-card-border-dark:#2b3245;
    --replit-template-card-border-spooky:#4e5569;
    --replit-template-card-bg-light:#fcfcfc;
    --replit-template-card-bg-dark:#1c2333;
    --replit-template-card-bg-spooky:#292c33;
    --replit-input-search-bg-light:#fcfcfc;
    --replit-input-search-bg-dark:#1c2333;
    --replit-input-search-bg-spooky:#292c33;
    --replit-create-repl-button-bg-light:#6bb5ff;
    --replit-create-repl-button-bg-dark:#0053a6;
    --replit-create-repl-button-bg-spooky:#9c4e00;
    --replit-import-github-button-bg-light:#b2d9ff;
    --replit-import-github-button-bg-dark:#004182;
    --replit-import-github-button-bg-spooky:#753b00;
    --replit-repl-left-bg-light:#fcfcfc;
    --replit-repl-left-bg-dark:#1c2333;
    --replit-repl-left-bg-spooky:#292c33;
    --replit-connect-github-button-bg-light:#6bb5ff;
    --replit-connect-github-button-bg-dark:#0053a6;
    --replit-connect-github-button-bg-spooky:#9c4e00;
    --replit-snowflake-bg-light:#6bb5ff;
    --replit-snowflake-bg-dark:#fcfcfc;
    --replit-snowflake-bg-spooky:#EBECED;
    --replit-setting-menu-list-hover-light:#dadcdd;
    --replit-setting-menu-list-hover-dark:#2B3245;
    --replit-setting-menu-list-hover-spooky:#383B42;
    --replit-dropdown-notification-bg-color-light:#fcfcfc;
    --replit-dropdown-notification-bg-color-dark:#1C2333;
    --replit-dropdown-notification-bg-color-spooky:#292C33;
    --replit-dropdown-notification-border-light:#cacccd;
    --replit-dropdown-notification-border-dark:#3a4359;
    --replit-dropdown-notification-border-spooky:#5f677a;


  }

  body.light-theme {
    --replit-nav-bg-color: var(--replit-nav-bg-light);
    --replit-bg-color: var(--replit-bg-light);
    --replit-text-color: var(--replit-text-color-light);
    --replit-border-color: var(--replit-border-color-light);
    --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-light);
    --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-light);
    --replit-search-input-bg-color: var(--replit-search-input-bg-color-light);
    --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-light);
    --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-light);
    --replit-intials-bg-color: var(--replit-intials-bg-color-light);
    --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-light);
    --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-light);
    --replit-textarea-border-color: var(--replit-textarea-border-color-light);
    --replit-textarea-outline-color: var(--replit-textarea-outline-color-light);
    --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-light);
    --repls-personal-details-bg-color: var(--repls-personal-details-bg-light);
    --loader-color: var(--loader-color-light);
    --header-height: var(--replit-header-height);
    --replit-dropdown-container-hover-color: var(--replit-dropdown-container-hover-color-light);
    --replit-starter-btn-bg-color: var(--replit-starter-btn-bg-light);
    --replit-profile-icon-list-bg-color: var(--replit-profile-icon-list-bg-light);
    --new-btn-bg-color: var(--new-btn-bg-color-light);
    --search-result-container-bg-color: var(--search-result-container-bg-light);
    --active-link-bg: var(--replit-active-link-bg-light);
    --replit-toggle-btn-border-color: var(--replit-toggle-btn-border-light);
    --replit-toggle-btn-bg-color: var(--replit-toggle-btn-bg-light);
    --replit-tabs-bottom-border: var(--replit-tabs-bottom-border-light);
  --replit-active-tab-bottom-border: var(--replit-active-tab-bottom-border-light);
  --replit-tabs-divider-border: var(--replit-tabs-divider-border-light);
  --replit-active-tab-hover-bg: var(--replit-active-tab-hover-bg-light);
  --replit-template-card-border: var(--replit-template-card-border-light);
  --replit-template-card-bg: var(--replit-template-card-bg-light);
  --replit-input-search-bg: var(--replit-input-search-bg-light);
  --replit-create-repl-button-bg: var(--replit-create-repl-button-bg-light);
  --replit-import-github-button-bg: var(--replit-import-github-button-bg-light);
  --replit-connect-github-button-bg: var(--replit-connect-github-button-bg-light);
  --replit-left-bg: var(--replit-repl-left-bg-light);
  --replit-text-color: var(--replit-text-color-light);
  --replit-snowflake-bg: var(--replit-snowflake-bg-light);
  --replit-setting-menu-list-hover: var(--replit-setting-menu-list-hover-light);
  --replit-dropdown-notification-bg-color: var(--replit-dropdown-notification-bg-color-light);
  --replit-dropdown-notification-border: var(--replit-dropdown-notification-border-light);
  }
  
  body.dark-theme {
    --replit-nav-bg-color: var(--replit-nav-bg-dark);
    --replit-bg-color: var(--replit-bg-dark);
    --replit-text-color: var(--replit-text-color-dark);
    --replit-border-color: var(--replit-border-color-dark);
    --replit-create-btn-hover-color: var(--replit-create-btn-hover-color-dark);
    --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-dark);
    --replit-search-input-bg-color: var(--replit-search-input-bg-color-dark);
    --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-dark);
    --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-dark);
    --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-dark);
    --replit-intials-bg-color: var(--replit-intials-bg-color-dark);
    --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-dark);
    --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-dark);
    --replit-textarea-border-color: var(--replit-textarea-border-color-dark);
    --replit-textarea-outline-color: var(--replit-textarea-outline-color-dark);
    --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-dark);
    --repls-personal-details-bg-color: var(--repls-personal-details-bg-dark);
    --loader-color: var(--loader-color-dark);
    --header-height: var(--replit-header-height);
    --replit-dropdown-container-hover-color: var(--replit-dropdown-container-hover-color-dark);
    --replit-starter-btn-bg-color: var(--replit-starter-btn-bg-dark);
    --replit-profile-icon-list-bg-color: var(--replit-profile-icon-list-bg-dark);
    --new-btn-bg-color: var(--new-btn-bg-color-dark);
    --search-result-container-bg-color: var(--search-result-container-bg-dark);
    --active-link-bg: var(--replit-active-link-bg-dark);
    --replit-toggle-btn-border-color: var(--replit-toggle-btn-border-dark);
    --replit-toggle-btn-bg-color: var(--replit-toggle-btn-bg-dark);
    --replit-tabs-bottom-border: var(--replit-tabs-bottom-border-dark);
    --replit-active-tab-bottom-border: var(--replit-active-tab-bottom-border-dark);
    --replit-tabs-divider-border: var(--replit-tabs-divider-border-dark);
    --replit-active-tab-hover-bg: var(--replit-active-tab-hover-bg-dark);
    --replit-template-card-border: var(--replit-template-card-border-dark);
    --replit-template-card-bg: var(--replit-template-card-bg-dark);
    --replit-input-search-bg: var(--replit-input-search-bg-dark);
    --replit-create-repl-button-bg: var(--replit-create-repl-button-bg-dark);
    --replit-import-github-button-bg: var(--replit-import-github-button-bg-dark);
    --replit-connect-github-button-bg: var(--replit-connect-github-button-bg-dark);
    --replit-left-bg: var(--replit-repl-left-bg-dark);
    --replit-text-color: var(--replit-text-color-dark);
    --replit-snowflake-bg: var(--replit-snowflake-bg-dark);
    --replit-setting-menu-list-hover: var(--replit-setting-menu-list-hover-dark);
    --replit-dropdown-notification-bg-color: var(--replit-dropdown-notification-bg-color-dark);
    --replit-dropdown-notification-border: var(--replit-dropdown-notification-border-dark);
  }
  
  body.spooky-theme {
    --replit-nav-bg-color: var(--replit-nav-bg-spooky);
    --replit-bg-color: var(--replit-bg-spooky);
    --replit-text-color: var(--replit-text-color-spooky);
    --replit-create-btn-hover-color: var(--replit-create-btn-hover-color-spooky);
    --replit-border-color: var(--replit-border-color-spooky);
    --replit-upgrade-btn-color: var(--replit-upgrade-btn-color-spooky);
    --replit-search-input-bg-color: var(--replit-search-input-bg-color-spooky);
    --replit-scrollbar-track-bg: var(--replit-scrollbar-track-bg-spooky);
    --replit-scrollbar-thumb-bg: var(--replit-scrollbar-thumb-bg-spooky);
    --replit-sidebar-bg-color: var(--replit-sidebar-bg-color-spooky);
    --replit-intials-bg-color: var(--replit-intials-bg-color-spooky);
    --replit-action-icons-bg-color: var(--replit-action-icons-bg-color-spooky);
    --replit-menu-list-hover-color: var(--replit-menu-list-hover-color-spooky);
    --replit-textarea-border-color: var(--replit-textarea-border-color-spooky);
    --replit-textarea-outline-color: var(--replit-textarea-outline-color-spooky);
    --replit-dropdown-container-bg-color: var(--replit-dropdown-container-bg-color-spooky);
    --repls-personal-details-bg-color: var(--repls-personal-details-bg-spooky);
    --loader-color: var(--loader-color-spooky);
    --replit-dropdown-container-hover-color: var(--replit-dropdown-container-hover-color-spooky);
    --replit-starter-btn-bg-color: var(--replit-starter-btn-bg-spooky);
    --header-height: var(--replit-header-height);
    --replit-profile-icon-list-bg-color: var(--replit-profile-icon-list-bg-spooky);
    --new-btn-bg-color: var(--new-btn-bg-color-spooky);
    --search-result-container-bg-color: var(--search-result-container-bg-spooky);
    --active-link-bg: var(--replit-active-link-bg-spooky);
    --replit-toggle-btn-border-color: var(--replit-toggle-btn-border-spooky);
    --replit-toggle-btn-bg-color: var(--replit-toggle-btn-bg-spooky);
    --replit-tabs-bottom-border: var(--replit-tabs-bottom-border-spooky);
    --replit-active-tab-bottom-border: var(--replit-active-tab-bottom-border-spooky);
    --replit-tabs-divider-border: var(--replit-tabs-divider-border-spooky);
    --replit-active-tab-hover-bg: var(--replit-active-tab-hover-bg-spooky);
    --replit-template-card-border: var(--replit-template-card-border-spooky);
    --replit-template-card-bg: var(--replit-template-card-bg-spooky);
    --replit-input-search-bg: var(--replit-input-search-bg-spooky);
    --replit-create-repl-button-bg: var(--replit-create-repl-button-bg-spooky);
    --replit-import-github-button-bg: var(--replit-import-github-button-bg-spooky);
    --replit-left-bg: var(--replit-repl-left-bg-spooky);
    --replit-connect-github-button-bg: var(--replit-connect-github-button-bg-spooky);
    --replit-text-color: var(--replit-text-color-spooky);
    --replit-snowflake-bg: var(--replit-snowflake-bg-spooky);
    --replit-setting-menu-list-hover: var(--replit-setting-menu-list-hover-spooky);
    --replit-dropdown-notification-bg-color: var(--replit-dropdown-notification-bg-color-spooky);
    --replit-dropdown-notification-border: var(--replit-dropdown-notification-border-spooky);
  }
  